table {
  border: 2px solid #ffffff;
  border-radius: 5px;
  width: 100%;
  border-spacing: 0;
}

table th,
td {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #ffffff;
  margin: 0;
}

th {
  color: #000000;
  background-color: #fec356;
}
